**/node_modules
**/.next
**/out
**/build
**/dist
**/.git
**/.gitignore
**/.env
**/.env.local
**/.env.*.local
**/npm-debug.log*
**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea
**/coverage
**/.nyc_output
**/*.md
!README.md
!DOCUMENTACION.md
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
**/db/data
postgres-data
*.pdf
